**/target/
**/lib/*.jar
**/seed/*.jar
/org.adempiere.ui.zk/labelapplet.jar
/org.adempiere.extend/test.properties

**/bin/
**/*.zip
*.zip
/targetPlatform/
/.metadata/
/PostgreSQL/
/Oracle/
/log/
/*.log
**/*.jar
/idempiere.properties
/idempiereEnv.properties
/hazelcast.xml

swingclient.product*.launch
server.product*.launch

/RemoteSystemsTempFiles/
External Plug-in Libraries
.recommenders

/runtime-server.product/
/jettyhome/

/org.idempiere.javadoc/API
*.class
